@tailwind base;
@tailwind components;
@tailwind utilities;

/* theme change effect control */
html {
  @apply transition-all duration-200 ease-in-out;
}


:root {
  --background: #ffffff;
  --foreground: #000000;
  --swiper-theme-color: #000000 !important;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --swiper-theme-color: #ffffff !important ;/* Change to desired dark mode color */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none; /* Hide default cursor */
  
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* Ensure it stays on top */
  transform-origin: center;
}

